body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light gray background */
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff; /* White container background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Light box shadow */
}

h1 {
    color: #333;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease; /* Smooth color transition */
}

button:hover {
    background-color: #45a049;
}

form {
    margin-top: 20px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    color: #555; /* Slightly darker text color */
}

input {
    padding: 12px;
    font-size: 16px;
    width: 100%; /* Full width input */
    box-sizing: border-box; /* Include padding in width */
    margin-bottom: 16px;
}

#connectButton {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #45a049; /* Blue color for Metamask */
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#connectButton:hover {
    background-color: #2980b9;
}

#serializeContainer {
    background-color: #ffffff; /* White container background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#serializedTx {
    word-wrap: break-word;
    font-size: 14px;
    color: #333;
}

h1 {
    color: #27ae60; /* Green color */
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase; /* Uppercase text */
    letter-spacing: 2px; /* Letter spacing for emphasis */
}
